* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightgoldenrodyellow;
    font-family: "Lucida Console", "Courier New", monospace;
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

h1 {
    background: transparent;
}

h2 {
    background: transparent;
}

p {
    background: transparent;
}

#header {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: slateblue;
    font-weight: 300;
    box-sizing: border-box;
    overflow: hidden;
    color: black;
}

#home {
    width: 100%;
    text-align: center;
    padding: 300px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden;
}

img {
    display: inline;
    align-items: center;
    margin: 20px; 

}

button {
    background: white; 
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    transition-duration: 0.4s;
} 

button:hover {
    background-color: slateblue;
    color: white;
}

#spotifyLink {
    background: transparent;
    transition-duration: 0.4s;
}

#spotifyLink:hover {
    background-color: darkblue;
    color: white;
}

#quiz {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden;
}

#question {
    padding: 25px 0;
    background: transparent;
}

#choices {
    padding: 25px;
    background: transparent;
}

#calculatingResults {
    width: 100%;
    text-align: center;
    padding: 300px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden;
}

#results {
    width: 100%;
    text-align: center;
    padding: 60px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden;
}

#resultsContent {
    padding: 25px;
    background: transparent;
}

#trackDiv {
    background: transparent;
}

#copyright {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 40px 0;
    background: palegoldenrod;
    margin: 0;
}

#copyright a i{
    background: lightgoldenrodyellow;
}