:root {
--border-color: black;
--button-link-color: white;
--hover-color: slateblue;
--main-color: black;
}

* {
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

p {
    padding: 2vh;
}

ul {
    list-style-type: none;
}

body {
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

header {
    box-sizing: border-box;
    color: var(--main-color);
    font-weight: 300;
    margin: 0;
    overflow: hidden;
    padding: 2vh;
    text-align: center;
    width: 100%;
}

#home {
    text-align: center;
    width: 100%;
}

img {
    display: block;
    margin: 2vh auto;
}

#questionImage {
    border-color: var(--border-color);
    border-radius: 10px;
    border-style: outset;
}

#progressImage {
    border-color: var(--border-color);
    border-radius: 10px;
    border-style: inset;
}

button {
    align-items: center;
    background: var(--button-link-color); 
    border-radius: 10px;
    padding: 20px;
    transition-duration: 0.4s;
} 

button:hover {
    background-color: var(--hover-color);
    color: var(--button-link-color);
}

#spotifyLink {
    flex-grow: 1;
    transition-duration: 0.4s;
}

#spotifyLink:hover {
    background-color: var(--hover-color);
    color: var(--button-link-color);
}

#quiz, #questionText, #choicesText, #quizComplete {
    padding: 1vh;
    text-align: center;
    width: 100%;
}

#results {
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#buttonHolder, #resultsContent p, #videoContent {
    align-content: center;
    padding: 1vh;
}

footer {
    align-items: center;
    margin: 0;
    padding: 2vh;
    text-align: center;
    width: 100%; 
}
