* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightgoldenrodyellow;
    font-family: "Lucida Console", "Courier New", monospace;
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

h1 {
    background: transparent;
}

h2 {
    background: transparent;
}

p {
    background: transparent;
}

#header {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: slateblue;
    font-weight: 300;
    box-sizing: border-box;
    overflow: hidden;
    color: black;
}

#home {
    width: 100%;
    text-align: center;
    padding: 300px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#questionImage {
    border-radius: 10px;
    border-style: outset;
    border-color: black;
}

#progressImage {
    border-radius: 10px;
    border-style: inset;
    border-color: black;
}

button {
    background: white; 
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    transition-duration: 0.4s;
} 

button:hover {
    background-color: slateblue;
    color: white;
}


#results

#resultsContent

#videoContent

#spotifyContent

#spotifyLink {
    background: transparent;
    transition-duration: 0.4s;
    flex-grow: 1;
}

#spotifyLink:hover {
    background-color: darkblue;
    color: white;
}

#quiz {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden;
}

#question {
    padding: 25px 0;
    background: transparent;
}

#choices {
    padding: 25px;
    background: transparent;
}

#quizComplete {
    width: 100%;
    text-align: center;
    padding: 300px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    /* width: 100%;
    text-align: center;
    padding: 60px 0;
    background: lightgoldenrodyellow;
    background-image: linear-gradient(180deg,slateblue, palegoldenrod);
    box-sizing: border-box;
    overflow: hidden; */
}

#buttonHolder {
    align-content: center;
    padding: 25px;
}

#resultsContent {
    padding: 25px;
    background: transparent;
}

#trackDiv {
    background: transparent;
}

#videoContent {
    align-content: center;
}

#footer {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 40px 0;
    background: palegoldenrod;
    margin: 0;
}

#footer a i{
    background: lightgoldenrodyellow;
}